/* Medium devices (tablets to laptops) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
    /*All the Containers*/
    .navbar-container{
        max-width: 100%;
        max-height: 100%;
        padding: 0;
    }
    .navbar-col-div {
        padding-left: 65px;
    }
    .Skills-Container {
        margin:0;
    }
    .Skills-div {
        padding:0
    }
    .background-image-left {
        top: -7%;
        position: relative;
    }
    .Projects-Container {
        padding-left:0;
        padding-right:0;
    }
    .tabs{
        width:100%;
        left:0;
    }
    .Projects-paragraph p {
        width:auto;
    }

    .paragraph-testimonial p{
        height: auto;
        width: auto;
    }

    .avater-paragraph{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        padding: 62px;
        padding-bottom: 0;
    }

    .avater-profile{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        padding-right: 62px;
        padding-bottom: 62px;
        padding-left: 62px;
    }


}